# Xcode (from gitignore.io)
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate


# Carthage
Carthage/*
!Carthage/Build
Carthage/Build/*
!Carthage/Build/iOS
Carthage/Build/iOS/*
!Carthage/Build/iOS/*.framework

# others
*.swp
!.gitkeep
.DS_Store

## R
*.generated.swift

## Fastlane
fastlane/report.xml
fastlane/Preview.html
# fastlane/screenshots
fastlane/screenshots/*.html
fastlane/screenshots/*.txt
fastlane/test_output

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Gems
vendor/bundle

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.mobileprovision

